@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;

.essay-index-card {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
  margin-bottom: $spacing-11;
  @include breakpoint-down(md) {
    margin-bottom: $spacing-08;
  }
}

.essay-index-card__metadata {
  padding-top: $spacing-03;
  padding-bottom: $spacing-03;
  border-top: solid 1px $warm-gray-10;
  border-bottom: solid 1px $warm-gray-10;
}

.essay-index-card__date__box {
  display: flex;
  align-items: center;

  @include breakpoint-down(md) {
    justify-content: flex-end;
  }
}

.essay-index-card__date {
  @include type-style('helper-text-02');
}

.essay-index-card__title {
  @include type-style('heading-06');

  margin-top: $spacing-05;
  margin-bottom: $spacing-05;

  @include breakpoint-down(md) {
    @include type-style('heading-04');
  }
}

.essay-index-card__description {
  @include type-style('body-compact-02');

  margin-bottom: $spacing-05;
}

.essay-index-card__action {
  @include type-style('helper-text-02');
}
