@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/grid';

.box {
  padding-top: layout.$spacing-05;
  padding-bottom: layout.$spacing-05;
  margin-bottom: layout.$spacing-11;
  @include grid.breakpoint-down(md) {
    margin-bottom: layout.$spacing-08;
  }
}

.metadata_row {
  margin-bottom: layout.$spacing-05;
}

.date_track {
  display: flex;
  align-items: center;

  @include grid.breakpoint-down(md) {
    justify-content: flex-end;
  }
}

.date {
  @include type.type-style('label-02');
}

.title {
  @include type.type-style('heading-06');

  margin-bottom: layout.$spacing-05;

  @include grid.breakpoint-down(md) {
    @include type.type-style('heading-04');
  }
}

.summary {
  @include type.type-style('body-compact-02');

  margin-bottom: layout.$spacing-05;
}

.read {
  @include type.type-style('helper-text-02');
}
