@use '@carbon/react/scss/colors' as *;
@use '@carbon/type';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

/*
$feature-flags: (   
  enable-css-custom-properties: true, 
);
*/

// Include type reset
@include type.reset();
// Include default type styles, targets h1, h2, h3, etc
@include type.default-type();
// Include utility classes for type-related properties
@include type.type-classes();

/*
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
*/

.landing__track {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-down(md) {
    justify-content: flex-start;
  }
}

.landing__heading {
  @include type.type-style('heading-05');

  @include breakpoint(md) {
    @include type.type-style('heading-06');
  }

  margin-top: $spacing-10;
}

.landing__copy {
  @include type.type-style('body-02');

  margin-top: $spacing-07;
}

.landing__action {
  @include type.type-style('heading-02');

  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: $spacing-08;
}

.landing__card {
  padding: $spacing-12;

  @include breakpoint-down(md) {
    padding: 0;
  }
}

.landing__title {
  @include type.type-style('fluid-display-02', true);

  @include breakpoint-down(md) {
    @include type.type-style('fluid-heading-04', true);
  }
}

.landing__branding {
  color: $black-100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 0.146em;
  text-transform: uppercase;
}

.landing__meta {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: $spacing-12;

  @include breakpoint-down(md) {
    margin-top: $spacing-08;
  }
}

/*
.landing__action {
  @include breakpoint-down(md) {
    @include type.type-style('fluid-paragraph-01', true);

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $spacing-08;
  }
}
*/

.landing__link {
  @include breakpoint-down(md) {
    padding-top: $spacing-03;
    padding-bottom: $spacing-03;
  }
}

.landing__link__icon {
  display: inline-flex;
  align-self: center;
  margin-right: 0.5rem;
}
