@use '@carbon/type';
@use '@carbon/grid';
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/spacing' as *;

.heading {
  @include type.type-style('heading-05');

  @include grid.breakpoint(md) {
    @include type.type-style('heading-06');
  }

  margin-top: $spacing-10;
}

.copy {
  @include type.type-style('body-02');

  margin-top: $spacing-07;
}

.cta {
  @include type.type-style('heading-02');

  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: $spacing-08;
}
