@use '~/scss/main.scss';
@use '@carbon/colors';
@use '@carbon/grid';

.container {
  @include main.container;
}

.welcome {
  @include main.heading-1;

  margin-top: 48px;
  margin-bottom: 16px;
}

.heading {
  @include main.heading-2;

  margin-top: 48px;
  margin-bottom: 16px;
}

.about {
  @include main.content;

  margin-bottom: 1.4em;
}

.contactItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: main.space(1);

  a {
    font-size: 16px;
  }
}
