@use '@carbon/type';
@use '@carbon/layout';
@use '@carbon/colors';

.box h3 {
  @include type.type-style('heading-02');

  color: colors.$black-100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.146em;
  text-transform: uppercase;
}

button.menu_button {
  width: 100%;
  margin-bottom: layout.$spacing-05;
}

/* TODO fix this */
button.cds--btn {
  max-width: 100%;
}
