@use '~/scss/main.scss';
@use '@carbon/colors';

.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: main.space(2);
}

.item {
  //display: flex;
  //align-items: center;
  //height: main.space(5);
  //padding-right: main.space(4);
  //padding-left: main.space(3);
  //border-left: solid main.space(1) transparent;
  color: main.$white;
  font-family: main.$sans;
  font-size: main.font-size(1);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    border-left: solid main.space(1) main.$black;
  }
}

.highlight {
}
