@use '~/scss/main.scss';

@mixin button-base {
  padding: main.space(1) main.space(2) main.space(1) main.space(2);
  border: solid 0 main.$transparent;
  background-color: main.gray(9);
  color: main.$white;
  font-family: main.$sans;
  font-size: main.font-size(1);

  &:hover {
    background-color: main.gray(8);
  }

  &:focus-visible {
    border-radius: 0;
    outline: 2px solid main.color(main.$blue, 5);
    outline-offset: 2px;
  }
}

.button {
  @include button-base;
}

.icon_button {
  @include button-base;

  display: inline-flex;
  align-items: center;
  gap: main.font-size(1);
}

.icon_button__icon {
  width: main.font-size(1);
  height: main.font-size(1);
  flex-shrink: 0;
}
