@use '~/scss/main.scss';

.container {
  @include main.full-width;

  display: grid;
  grid-gap: main.space(6);
  grid-template-columns: 1fr;

  @media (min-width: main.$tablet) {
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
  }
}

.info {
  display: flex;
  flex-direction: column;

  padding: main.space(2);
  padding-top: main.space(4);
  padding-bottom: main.space(4);
  border: solid 1px hsl(240, 50, 35);
  background-color: hsl(240, 80, 10);
  border-radius: 8px;
  font-family: main.$mono;
  font-size: 14px;
  font-weight: 400;
  gap: main.space(1);

  @media (min-width: main.$tablet) {
    padding: main.space(4);
    aspect-ratio: 2/1;
  }
}

.name {
  font-weight: 400;
}

.title {
  font-family: main.$sans;
  font-size: 20px;
  font-weight: 400;

  @media (min-width: main.$tablet) {
    font-size: 24px;
  }

  @media (min-width: main.$desktop) {
    font-size: 32px;
  }
}

.sub {
  color: hsl(0, 0, 85);
  font-family: main.$sans;
  font-size: 20px;
  font-weight: 400;

  @media (min-width: main.$tablet) {
    font-size: 24px;
  }

  @media (min-width: main.$desktop) {
    font-size: 24px;
  }
}
