@use '~/scss/main.scss';

.panel {
  background-color: hsl(240, 5, 97);
}

.container {
  @include main.full-width;

  display: grid;
  padding-top: main.space(8);
  padding-bottom: main.space(8);
  border-top: solid 1px hsl(0, 0, 90);
  grid-template-columns: 1fr;

  @media (min-width: main.$tablet) {
    padding-top: main.space(12);
    padding-bottom: main.space(12);
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: main.$desktop) {
    padding-top: main.space(20);
    padding-bottom: main.space(20);
  }
}

.info {
  display: flex;
  flex-direction: column;
  font-family: main.$mono;
  font-size: 14px;
  font-weight: 300;
  gap: main.space(1);
}

.name {
  font-weight: 400;
}

.connect {
  margin-top: main.space(4);
  @media (min-width: main.$tablet) {
    margin-top: 0;
  }
}

.title {
  font-family: main.$sans;
  font-size: 20px;
  font-weight: 300;

  @media (min-width: main.$tablet) {
    font-size: 24px;
  }

  @media (min-width: main.$desktop) {
    font-size: 32px;
  }
}

.sub {
  color: hsl(0, 0, 30);
  font-family: main.$sans;
  font-size: 20px;
  font-weight: 300;

  @media (min-width: main.$tablet) {
    font-size: 24px;
  }

  @media (min-width: main.$desktop) {
    font-size: 24px;
  }
}
