@use '~/scss/main.scss';
@use '@carbon/grid';

.heading {
  margin-top: 48px;
  margin-bottom: 16px;
  font-family: main.$sans;
  font-size: 21px;
  font-weight: 500;
}

.paragraph {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: main.$sans;
}
