@use '~/scss/main.scss';

.heading {
  margin-top: main.space(4);
  margin-bottom: main.space(1);

  font-family: main.$condensed;
  font-size: 24px;
  font-weight: 500;

  @media (min-width: main.$tablet) {
    margin-top: main.space(6);
    margin-bottom: main.space(2);
    font-size: 28px;
  }
}

.container {
  @include main.full-width;
}

.paragraph {
  margin-bottom: main.space(3);
  font-family: main.$sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  @media (min-width: main.$tablet) {
    width: 70%;
    font-size: 17px;
  }

  @media (min-width: main.$desktop) {
    width: 65%;
    font-size: 18px;
  }
}
