@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;

.code__block {
  margin-top: $spacing-05;
}

.code__block code {
  @include type-style('body-02');

  font-family: 'IBM Plex Mono', monospace;
}

.cds--snippet--multi {
  display: block;
  max-width: none;
}
