@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;

.code__block {
  margin-top: $spacing-05;
}

.cds--snippet--multi {
  display: block;
  max-width: none;
}
