@use '~/scss/main.scss';

.container {
  @include main.full-width;
}

.box {
  position: relative;
  padding-top: main.space(2);
  padding-bottom: main.space(1);
  margin-top: main.space(4);
  margin-bottom: main.space(4);
  //background-color: hsl(290, 35, 15);
  //background-color: hsl(290, 70, 11);
  background-color: main.$black;
  //border-radius: 8px;
  color: main.$white;
  font-family: main.$mono;
  line-height: 1.5;
  overflow-x: auto;

  @media (min-width: main.$tablet) {
    padding-top: main.space(1);
    padding-bottom: 0;
    margin-top: main.space(4);
  }
}

.compact {
  width: 100%;

  @media (min-width: main.$tablet) {
    width: 75%;
  }
}

.full {
  @include main.breakout-container;
}

.controls {
  @include main.container;

  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-top: main.space(4);
}

.button {
  display: flex;
  align-items: center;
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border: solid 1px transparent;
  border-bottom: solid 1px main.$black;
  background-color: main.$white;
  font-family: main.$sans;
  font-size: 12px;
  gap: 8px;
}

.scrollHack {
  display: inline-block;
  min-width: 100%;
  box-sizing: border-box;
  padding-bottom: main.space(1);
  // prevent iOS safari from erronously zooming
  -webkit-text-size-adjust: 100%;
}

.number {
  display: flex;
  justify-content: flex-end;
}

.line {
  padding-right: main.space(1);
  padding-left: main.space(1);
  font-size: 13px;

  @media (min-width: main.$tablet) {
    padding-right: main.space(1);
    padding-left: main.space(1);
    font-size: 14px;
  }
}

.marker {
  position: relative;
  //background-color: hsl(240, 0, 95);
}
