@use '~/scss/main.scss';
@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@use '@carbon/grid';

.grid_track {
  margin-top: main.space(4);
  margin-bottom: main.space(4);
}

.grid {
  display: grid;
  grid-gap: main.space(4);
  grid-template-columns: 1fr 1fr;

  @include grid.breakpoint-down(lg) {
    grid-template-columns: 1fr;
  }
}

.title {
  padding-left: layout.$spacing-05;
  border-left: solid 1px colors.$blue-50;
  font-family: main.$condensed;
  font-size: main.font-size(3);

  @include grid.breakpoint-down(md) {
    @include type.type-style('heading-02');
  }
}

.title_row {
  margin-top: layout.$spacing-08;
}

.card_row {
  margin-top: layout.$spacing-08;
}

.aside {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-right: main.space(2);
  padding-bottom: main.space(2);
}

.copy {
  font-size: main.font-size-smaller(1);
}
