@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.title {
  @include type-style('heading-03');

  padding-left: $spacing-05;
  border-left: solid 1px $blue-50;

  @include breakpoint-down(md) {
    @include type-style('heading-02');
  }
}

.title_row {
  margin-top: $spacing-08;
}

.card_row {
  margin-top: $spacing-08;
}
