@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@use '@carbon/grid';

.title {
  @include type.type-style('heading-03');

  padding-left: layout.$spacing-05;
  border-left: solid 1px colors.$blue-50;

  @include grid.breakpoint-down(md) {
    @include type.type-style('heading-02');
  }
}

.title_row {
  margin-top: layout.$spacing-08;
}

.card_row {
  margin-top: layout.$spacing-08;
}
