@use '~/scss/main.scss';

.box {
  @include main.code;

  position: relative;
  padding-top: main.space(2);
  padding-bottom: main.space(2);
  margin-top: main.space(1);
  font-size: 16px;
  overflow-x: auto;
}

.compact {
  @include main.container;
}

.full {
  @include main.breakout-container;
}
