@use '~/scss/main.scss';

.box {
  @include main.code;

  position: relative;
  padding-top: main.space(1);
  padding-bottom: main.space(1);
  margin-top: main.space(4);
  font-size: 16px;
  overflow-x: scroll;
}

.copy {
  position: absolute;
  z-index: 3;
  top: main.space(1);
  right: main.space(1);
}
