@use '~/scss/main.scss';
@use '@carbon/colors';
@use '@carbon/grid';

.box {
  @include main.container;

  display: flex;
  flex-direction: column;

  padding: main.space(3);
  margin-top: main.space(2);
  margin-bottom: main.space(2);

  background-color: colors.$white;
  border-radius: 10px;

  @media (min-width: 734px) {
    padding: main.space(4);
    margin-bottom: main.space(4);
  }
}

.date {
  @include main.ui;

  margin-bottom: 8px;
  color: main.$color-fade;
}

.title {
  @include main.heading-2;

  margin-bottom: 8px;
  color: main.$black;
}

.summary {
  @include main.content;

  margin-bottom: 8px;
  color: main.$black;
}

.tag {
  @include main.tag;
}

.tags {
  display: flex;
  margin-bottom: main.space(1);
  gap: main.space(1);
}
