@use '~/scss/main.scss';
@use '@carbon/type';
@use '@carbon/layout';
@use '@carbon/colors';

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingBox {
  @include main.container;

  margin-top: main.space(8);
}

.tags {
  display: flex;
  flex-direction: row;
  margin-bottom: main.space(1);
  gap: main.space(1);
}

.tag {
  @include main.ui;

  padding: 4px;
  background-color: colors.$blue-10;

  color: colors.$blue-80;
  font-weight: 500;
  text-transform: uppercase;
}

.date {
  @include main.ui;

  margin-bottom: -8px;
  color: main.$color-fade;
}

.heading {
  @include main.heading-1;

  margin-bottom: main.space(4);
}

.footer {
  @include main.container;

  padding-top: main.space(4);

  border-top: solid 1px colors.$cool-gray-20;
  margin-top: main.space(6);

  p {
    margin-bottom: main.space(1);
  }
}
