@use '~/scss/main.scss';
@use '@carbon/type';
@use '@carbon/layout';
@use '@carbon/colors';

.box {
  display: flex;
  flex-direction: column;
  margin-top: main.space(5);
  margin-bottom: main.space(4);

  @media (min-width: main.$tablet) {
    margin-top: main.space(10);
    margin-bottom: main.space(16);
  }
}

.headingBox {
  @include main.container;

  margin-top: main.space(3);
  margin-bottom: main.space(6);

  @media (min-width: main.$tablet) {
    margin-top: main.space(6);
    margin-bottom: main.space(12);
  }
}

.border {
  width: 0;
  height: 1px;
  animation: grow 1800ms ease 500ms 1 normal forwards;
  background-color: hsl(0, 0, 0);
}

@keyframes grow {
  100% {
    width: 100%;
  }
}

.tags {
  display: flex;
  width: 100%;
  flex-direction: row;
  //justify-content: center;
  margin-bottom: main.space(1);
  color: hsl(0, 0, 30);
  font-family: main.$mono;
  font-size: 12px;
  font-weight: 400;
  gap: main.space(1);
}

.tag {
  //text-transform: uppercase;
}

.date {
  @include main.container;

  font-family: main.$mono;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;

  @media (min-width: main.$tablet) {
    margin-bottom: main.space(1);
  }
}

.heading {
  margin-bottom: main.space(1);
  font-family: main.$serif;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -0.03em;

  @media (min-width: main.$tablet) {
    margin-bottom: main.space(3);
    font-size: 56px;
  }
}

.footer {
  @include main.container;

  padding-top: main.space(4);

  border-top: solid 1px colors.$cool-gray-20;
  margin-top: main.space(6);

  p {
    margin-bottom: main.space(1);
  }
}

.back {
  @include main.container;

  margin-top: main.space(4);
  font-family: main.$mono;
  font-size: 16px;
  font-weight: 500;

  a {
    //color: hsl(0,0,30);
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  svg {
    font-size: 24px;
  }
}
