@use '~/scss/main.scss';

.content {
  @include main.full-width;

  display: flex;
  flex-direction: column;
}

.headingBox {
  //margin-bottom: calc(-1 * main.space(4));
}

.border {
  width: 0;
  height: 1px;
  animation: grow 1800ms ease 500ms 1 normal forwards;
  background-color: hsl(0, 0, 0);
}

@keyframes grow {
  100% {
    width: 100%;
  }
}

.tags {
  display: flex;
  width: 100%;
  flex-direction: row;
  //justify-content: center;
  margin-bottom: main.space(1);
  font-family: main.$mono;
  font-size: 12px;
  font-weight: 400;
  gap: main.space(1);
}

.date {
  @include main.full-width;

  //margin-top: calc(-1 * main.space(4));
  margin-bottom: main.space(3);

  font-family: main.$mono;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}

.heading {
  // manual alignment
  margin-left: -4px;
  font-size: 36px;
  letter-spacing: -0.03em;

  @media (min-width: main.$tablet) {
    font-size: 56px;
  }

  @media (min-width: main.$desktop) {
    font-size: main.space(9);
  }
}

.author {
  margin-top: main.space(1);
  font-family: main.$mono;
  font-size: 14px;
}

.read {
  @include main.full-width;

  display: flex;
  align-items: center;

  margin-top: main.space(4);
  font-family: main.$mono;
  font-size: 14px;
  font-weight: 400;
  gap: main.space(1);
  text-decoration: none;
}
