@use '@carbon/react/scss/colors' as *;

.guideline__container {
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100%;
}

.guideline__column__edge {
  border-left: solid 1px $blue-10;
}

.guideline__column__center {
  border-left: solid 1px $warm-gray-10;
}
