@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/breakpoint' as *;

.header {
  padding-top: $spacing-03;
  padding-bottom: $spacing-03;
  border-bottom: solid 1px $warm-gray-10;
}

.header__branding__track {
  display: flex;
  align-items: center;
}

.header__branding {
  @include type-style('heading-02');

  display: flex;
  flex-direction: row;
  align-items: center;
  color: $black-100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  gap: $spacing-04;
  letter-spacing: 0.146em;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;

  @include breakpoint-down(md) {
    display: none;
  }
}

.header__action {
  display: flex;
  justify-content: flex-end;

  @include breakpoint-down(md) {
    display: none;
  }
}

.header__mobile__menu__column {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include breakpoint-up(md) {
    display: none;
  }
}

.header__mobile__menu__button {
  background-color: $black-100;
}

.header__mobile__menu__button:hover {
  background-color: $gray-90;
}

.header__contact__button {
  background-color: $black-100;
}

.header__contact__button:hover {
  background-color: $gray-90;
}
