@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;

.header {
  padding-top: $spacing-03;
  padding-bottom: $spacing-03;
  border-bottom: solid 1px $warm-gray-10;
}

.header__branding__box {
  display: flex;
  align-items: center;
}

.header__branding {
  @include type-style('heading-02');

  color: $black-100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.146em;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__action {
  display: flex;
  justify-content: flex-end;
}
