@use '~/scss/main.scss';
@use '@carbon/layout';
@use '@carbon/grid';
@use '@carbon/type';
@use '@carbon/colors';

.box {
  padding-top: layout.$spacing-03;
  padding-bottom: layout.$spacing-03;
  border-bottom: solid 1px main.gray(1);
}

.branding_track {
  display: flex;
  align-items: center;
}

.branding {
  @include type.type-style('heading-02');

  display: flex;
  flex-direction: row;
  align-items: center;
  color: colors.$black-100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  gap: layout.$spacing-04;
  letter-spacing: 0.146em;
  text-transform: uppercase;
}

.nav_track {
  display: flex;
  align-items: center;

  @include grid.breakpoint-down(md) {
    display: none;
  }
}

.contact_track {
  display: flex;
  justify-content: flex-end;

  @include grid.breakpoint-down(md) {
    display: none;
  }
}

.mobile_menu_track {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include grid.breakpoint-up(md) {
    display: none;
  }
}
