@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/breakpoint' as *;

.box {
  padding-top: $spacing-03;
  padding-bottom: $spacing-03;
  border-bottom: solid 1px $warm-gray-10;
}

.branding_track {
  display: flex;
  align-items: center;
}

.branding {
  @include type-style('heading-02');

  display: flex;
  flex-direction: row;
  align-items: center;
  color: $black-100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  gap: $spacing-04;
  letter-spacing: 0.146em;
  text-transform: uppercase;
}

.nav_track {
  display: flex;
  align-items: center;

  @include breakpoint-down(md) {
    display: none;
  }
}

.contact_track {
  display: flex;
  justify-content: flex-end;

  @include breakpoint-down(md) {
    display: none;
  }
}

.mobile_menu_track {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include breakpoint-up(md) {
    display: none;
  }
}
