@use '~/scss/main.scss';
@use '@carbon/colors';
@use '@carbon/grid';

.box {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 48px;
  gap: 8px;
}

.date {
  @include main.ui;

  color: main.$color-fade;
}

.title {
  @include main.heading-2;

  color: main.$color-secondary;
  font-family: main.$condensed;
}

.summary {
  @include main.content;
}

.read {
  @include main.ui;

  display: flex;
  align-items: center;
  gap: main.space(1);
}
