@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;

.footer {
  padding-top: $spacing-08;
  border-top: solid 1px $warm-gray-10;
  margin-top: $spacing-12;
  margin-bottom: $spacing-12;
}

.footer__copy {
  @include type-style('legal-02');
}

.footer__social__link {
  display: flex;
  padding-top: $spacing-03;
  padding-bottom: $spacing-03;
  gap: $spacing-03;
}

.footer__branding {
  @include type-style('heading-02');

  color: $black-100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.146em;
  text-transform: uppercase;
}
