@use '@carbon/layout';
@use '@carbon/grid';
@use '@carbon/type';
@use '@carbon/colors';

.top {
  padding-top: layout.$spacing-08;
  border-top: solid 1px colors.$warm-gray-10;
  margin-top: layout.$spacing-12;

  @include grid.breakpoint-down(md) {
    margin-top: layout.$spacing-08;
  }
}

.bottom {
  margin-bottom: layout.$spacing-12;
  @include grid.breakpoint-down(md) {
    margin-bottom: layout.$spacing-10;
  }
}

.copy {
  @include type.type-style('legal-02');

  margin-top: layout.$spacing-08;

  @include grid.breakpoint-down(lg) {
    margin-top: layout.$spacing-05;
  }
}

.social_link {
  display: flex;
  padding-top: layout.$spacing-03;
  padding-bottom: layout.$spacing-03;
  gap: layout.$spacing-03;
}

.branding {
  @include type.type-style('heading-02');

  color: colors.$black-100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.146em;
  text-transform: uppercase;
}
