@use '~/scss/main.scss';

.all {
  background-color: main.$white;
  color: main.$black;
  font-family: main.$sans;

  a {
    color: main.$black;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}
