@use '~/scss/main.scss';
@use '@carbon/colors';
@use '@carbon/grid';

.all {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: main.space(4);
  padding-bottom: main.space(4);
  font-family: main.$sans;

  a {
    color: hsl(240, 95%, 60%);
    text-decoration: none;
  }
}

.container {
  @include main.container;
}

.info {
  @include main.ui;

  display: flex;
  flex-direction: column;
  font-family: main.$mono;
  font-weight: 300;
  gap: main.space(1);
}

.name {
  a {
    color: main.$black;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.header {
  @include main.container;

  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 16px;

  a {
    color: main.$black;
    font-size: 14px;
    font-weight: 300;
  }
}
