@use '~/scss/main.scss';
@use '@carbon/colors';
@use '@carbon/grid';

.all {
  display: flex;
  //overflow: hidden;
  flex-direction: column;
  margin-bottom: main.$footer-height;
  background-color: main.$white;
  color: main.$black;
  font-family: main.$sans;

  a {
    //color: hsl(240, 95%, 60%);
    color: main.$black;
    text-decoration: underline;
    //text-decoration-thickness: from-font;
    text-decoration-thickness: 1px;
  }
}

.container {
  @include main.container;
}

.info {
  @include main.ui;

  display: flex;
  flex-direction: column;
  font-family: main.$mono;
  font-weight: 300;
  gap: main.space(1);
}

.name {
  a {
    font-family: main.$mono;
    font-size: 18px;
    font-weight: 600;
  }
}

// Colors
$bg-color: hsl(0, 0, 100);
$dot-color: hsl(0, 0, 10);

// Dimensions
$dot-size: 1px;
$dot-space: 16px;

@mixin dots {
  background: linear-gradient(
      90deg,
      $bg-color ($dot-space - $dot-size),
      transparent 1%
    ),
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%),
    $dot-color;
  background-size: $dot-space $dot-space;
}

$lineColor: #ffffff;
$step: 2;
$borderWeight: 1px;

@function borderShadow($n) {
  $value: '0px 0px #{$lineColor}';
  @for $i from 0 through $n {
    $value: '#{$value} , 0px #{($step)*$i}px #{$lineColor}';
  }
  @return unquote($value);
}

@function stripeShadow($n) {
  $value: '0px 0px #{$lineColor}';
  @for $i from 0 through $n {
    $value: '#{$value} , #{($step)*$i}px 0px #{$lineColor}';
  }
  @return unquote($value);
}

$border: bordershadow(1000);
$stripe: stripeshadow(1000);

.header {
  @include main.full-width;

  display: flex;
  justify-content: space-between;

  padding-top: main.space(5);

  a {
    text-decoration: none;
  }
}

.bottom {
  padding-bottom: main.space(2);
}

.nav {
  display: flex;
  gap: main.space(4);

  a {
    font-family: main.$mono;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

.label {
  margin-bottom: main.space(1);
  color: hsl(0, 0, 40);
  font-family: main.$mono;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
