@use '@carbon/styles/scss/reset';
@use '@carbon/grid';
@use '@carbon/colors';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,400;0,500;1,700&family=IBM+Plex+Sans+Condensed:wght@200;400;500;600&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap');

/*************************************************
 * Code blocks
 ************************************************/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #586e75;
}

.token.punctuation {
  color: colors.$cyan-70;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
  color: colors.$magenta-60;
}

.token.class-name {
  color: #ffffb6;
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  color: #b58900;
}

.token.symbol,
.token.deleted {
  color: #dc322f;
}

.token.number {
  color: #859900;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: colors.$teal-70;
}

.token.variable {
  color: #268bd2;
}

.token.operator {
  color: colors.$gray-70;
}

.token.function {
  color: colors.$cyan-60;
  font-weight: 500;
}

.token.regex {
  color: #e9c062;
}

.token.important {
  color: #fd971f;
}

.token.entity {
  color: #ffffb6;
  cursor: help;
}

.token.url {
  color: #96cbfe;
}

.language-css .token.string,
.style .token.string {
  color: #87c38a;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.atrule,
.token.attr-value {
  color: #f9ee98;
}

/* BASICS */

html {
  font-size: 16px;

  p {
    font-size: 17px;
    line-height: 1.47;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
    p {
      line-height: 1.47;
    }
  }

  @media (min-width: 1440px) {
    font-size: 19px;
    p {
      line-height: 1.42;
    }
  }
}
