@use '@carbon/colors';

/*************************************************
 * Utilities
 ************************************************/
// @function pow($base, $exponents)
// Helper: Raise a number the power of another number
// Adapted from: https://gist.github.com/hail2u/1964056
//
// @param {number} $base — The base number
// @param {number} $exponents — The exponent to which to raise $base
@function pow($base, $exponents) {
  @if $exponents == 0 {
    @return 1;
  }

  $raised: 1;
  @for $i from 1 through $exponents {
    $raised: $raised * $base;
  }
  @return $raised;
}

/*************************************************
 * Color
 ************************************************/
$transparent: hsla(0, 0%, 0%, 0);

// grayscale
$black: #000000;
$white: #ffffff;

@function gray($step) {
  @return hsla(0, 0%, 100 - 10 * $step);
}

// colors
$cultured: hsla(40, 30%, 98%, 1);
$cultured-20: hsla(40, 30%, 95%, 1);
$blue: 221;
$green: 140;

@function color($base-color, $step) {
  @return hsla($base-color, 70%, calc(100 - $step * 10), 1);
}

/*************************************************
 * Typography
 ************************************************/

// families
$sans: var(--font-sans), sans-serif;
$condensed: var(--font-condensed), sans-serif;
$mono: var(--font-mono), monospace;
$serif: 'IBM Plex Serif', serif;

// scales
$base-font-size: 1rem;
$font-ratio: 1.25;
$font-smaller-ratio: 0.8;

@function font-size($step) {
  @return $base-font-size * pow($font-ratio, $step - 1);
}

@function font-size-smaller($step) {
  @return $base-font-size * pow($font-smaller-ratio, $step);
}

// weight
$font-weight-200: 200;
$font-weight-400: 400;
$font-weight-600: 600;

/*************************************************
 * Spacing
 ************************************************/

// 8px space scale
$base-space-unit: 8px;
@function space($step) {
  @return $base-space-unit * $step;
}

@function space-smaller($step) {
  @return $base-space-unit - 2 * $step;
}

/*************************************************
 * Tokens
 ************************************************/
$slim-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px -1px,
  rgba(0, 0, 0, 0.1) 0 1px 3px -1px;
$hover-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0 8px 16px -8px;

//$light-shadow: hsla(0, 0, 100, 0.25) 0 space(2) space(6) -8px;
//$hover-shadow: hsla(0, 0, 0, 0.95) 0 13px 27px -5px, hsla(0, 0, 0, 0.99) 0 8px 16px -8px;

@mixin card {
  background-color: hsl(0, 0, 100);
  color: $black;
  text-decoration: none;
  transition: all 0.4s;
  //box-shadow: $slim-shadow;

  &:hover {
    box-shadow: $hover-shadow;
  }
}

@mixin tag {
  color: colors.$blue-10;
  font-family: $sans;
  font-size: font-size-smaller(1);
  font-weight: 500;
  text-transform: uppercase;
}

$line-height: 1.4211;

@mixin breakout-container {
  @include container;

  width: 100%;
  max-width: 450px;

  @media (min-width: 734px) {
    width: 692px;
    max-width: none;
  }

  @media (min-width: 1024px) {
    width: 980px;
  }
}

@mixin code {
  // do not bleed white highlight into background white
  //border: solid 1px colors.$cool-gray-20;
}

/*************************************************
 * Other
 ************************************************/

@mixin svg-hover-color($color) {
  &:hover {
    svg {
      color: $color;
    }
  }
}

@mixin scrollbar(
  $size: 4px,
  $foreground-color: colors.$cool-gray-30,
  $background-color: rgba(0, 0, 0, 0)
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: space(1);
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: space(1);
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

/******************************************************************************
 * FINAL
 ******************************************************************************/

// control width of any element to prevent long lines
@mixin container {
  width: 87.5%;
  max-width: 414px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 734px) {
    width: 576px;
    max-width: none;
  }

  @media (min-width: 1024px) {
    width: 653px;
  }
}

// ui text remains constant at 14px
@mixin ui {
  font-size: 14px;
}

@mixin tag {
  @include ui;

  padding: 4px;
  background-color: colors.$blue-10;
  color: colors.$blue-80;

  font-family: $condensed;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin content {
  font-family: $sans;
  font-size: 17px;

  @media (min-width: 734px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 19px;
  }
}

@mixin heading-1 {
  font-size: 32px;
  font-weight: 600;

  @media (min-width: 734px) {
    font-size: 40px;
  }

  @media (min-width: 1440px) {
    font-size: 48px;
  }
}

@mixin heading-2 {
  font-family: $sans;
  font-size: 21px;
  font-weight: 600;

  @media (min-width: 1440px) {
    font-size: 24px;
  }
}

$color-fade: colors.$cool-gray-70;
$color-secondary: colors.$cool-gray-80;
$color-primary: colors.$black;
