@use '~/scss/main.scss';

@mixin link-base {
  color: main.color(main.$blue, 5);
  font-family: main.$sans;
  font-size: main.font-size(1);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  @include link-base;
}

.icon_link {
  @include link-base;

  display: inline-flex;
  align-items: center;
  gap: main.space(1);
}

.icon_link__icon {
  flex-shrink: 0;
}
