@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/colors' as *;

.menu-modal h3 {
  @include type-style('heading-02');

  color: $black-100;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.146em;
  text-transform: uppercase;
}

.menu-modal__icon {
  margin-right: $spacing-03;
}

button.menu-modal__button {
  width: 100%;
  margin-bottom: $spacing-05;
}

button.cds--btn {
  max-width: 100%;
}
